
<div class="pageContent">
	<form method="post" action="__URL__/update/navTabId/管理员列表/callbackType/closeCurrent"  class="pageForm required-validate" 
		onsubmit="return validateCallback(this,dialogAjaxDone);"><?php  //窗体组件采用这个 iframeCallback(this, navTabAjaxDone); ?>
		<input type="hidden" name="id" value="{$find.id}"/>
		<div class="pageFormContent" layoutH="60">
			<dl>
				<dt>用户名：</dt>
				<dd><input type="text" class="required"  style="width:100%" name="username" value="{$find.username}"/></dd>
			</dl>
			
			<dl>
<dt>密码：</dt>
<dd>
<input id="w_validation_pwd" class="required alphanumeric textInput" type="password" alt="字母、数字、下划线 6-20位" maxlength="20" minlength="6" name="password">

</dd>
</dl>
<dl>
<dt>确认密码：</dt>
<dd>
<input class="required textInput" type="password" equalto="#w_validation_pwd" name="repassword">

</dd>
</dl>
		</div>
		
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>

