<div class="pageContent">
	<form method="post" action="__URL__/update/navTabId/用户列表/callbackType/closeCurrent" enctype="multipart/form-data"  class="pageForm required-validate" 
		onsubmit="return iframeCallback(this, navTabAjaxDone);"><?php  //窗体组件采用这个 iframeCallback(this, navTabAjaxDone); ?>
		<input type="hidden" name="id" value="{$user['id']}"/>
		<div class="pageFormContent" layoutH="60">
			<dl style="height:50px;">
				<dt>用户名：</dt>
				<dd><input type="text"  style="width:100%" name="zhiye" value="{$user.name}"/></dd>
			</dl>
			<dl>
				<dt>性别：</dt>
				<dd><select name='gender'>
				<option <if condition="$user.gender eq 0" >selected</if> value="0">请选择</option>
				<option value="1" <if condition="$user.gender eq 1" >selected</if> >男</option><option value="1" <if condition="$user.gender eq 2" >selected</if> >女</option>
				</select></dd>
			</dl>			
			<dl>
				<dt>E-Mail：</dt>
				<dd><input type="text"  style="width:100%" name="email" value="{$user.email}"/></dd>
			</dl>
			
			
			<dl>
				<dt>头像：</dt>
				<dd><input type="file"  style="width:100%" name="pic" width="100px" height="100px"/></dd>
				<dd><img src="__PUBLIC__/Uploads/pic/{$user.bigpic}"</dd>
			</dl>
			<dl>
				<dt><label>生日：</label></dt>
				<dd>
<input class="date  readonly " type="text" readonly="true" name="date1" value="{$user.shengri}">
<a class="inputDateButton" href="javascript:;">选择</a></dd>
				
	
				
			</dl>
			
		
			
			
			
			<!--<th width="">ID</th>
				<th width="">昵称/用户名</th>
				<th width="">E-Mail</th>
				<th width="">积分</th>
				<th width="">头像</th>
				<th width="">状态</th>
                <th width="">征友状态</th>
				<th width="">登陆次数</th>
				<th width="">登陆时间</th>
				<th width="">注册时间</th>
				<th width="">操作</th>
				-->
		</div>
		
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
	
</div>
<script type="text/javascript" src="__PUBLIC__/js/jquery.date_input.pack.js"></script>
<script>
$(function(){
	//日历调用函数
	$('.date_picker').date_input();
})
</script>
